# Copy this file to .env and fill in your values
POSTGRES_USER=your_local_db_user
POSTGRES_PASSWORD=your_local_db_password
POSTGRES_DB=your_local_db_name

DATABASE_URL=host=localhost user=your_local_db_user password=your_local_db_password dbname=your_local_db_name port=5432 sslmode=disable
REDIS_URL=redis://localhost:6379/0
FRONTEND_URL=http://localhost:5173
ADMIN_PASSWORD=your_admin_password
